obj/Okt2020.csproj.nuget.cache
obj/Okt2020.csproj.nuget.g.props
obj/Okt2020.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.1/Okt2020.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/Okt2020.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/Okt2020.assets.cache
obj/Debug/netcoreapp2.1/Okt2020.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/Okt2020.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/Okt2020.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/Okt2020.dll
obj/Debug/netcoreapp2.1/Okt2020.pdb
bin/Debug/netcoreapp2.1/Okt2020.deps.json
bin/Debug/netcoreapp2.1/Okt2020.dll
bin/Debug/netcoreapp2.1/Okt2020.pdb
bin/Debug/netcoreapp2.1/Okt2020.runtimeconfig.dev.json
bin/Debug/netcoreapp2.1/Okt2020.runtimeconfig.json
